body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

#logo {
    width: 50px; 
}

#upload-section {
    margin: 20px;
    text-align: center;
}

#results-section {
    margin: 20px;
    text-align: center;
}

#metrics {
    margin-bottom: 20px;
}

#graphs img {
    width: 100%; 
    max-width: 300px;
    max-height: 300px; 
    display: inline;
    margin: 10px auto;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
